# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\En_Bastan\191213099_İst_ve_İht_Ödev1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
